h1{
    border-style: dotted;
    border-width: 5px;
    border-color: aqua;
    border-radius: 10px;
    border: dotted 5px aqua;
}
p{
    border-bottom: solid 10px rgb(168, 87, 87);
    border-top: 10px solid rgb(200, 122, 122);
    border-left: 5px dotted rgb(146, 99, 99);
    border-right: 5px dotted rgb(147, 7, 7);
    border-radius: 5px;
}